.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  object-fit: contain;
}

.icon-svg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  color: currentColor;
}

.icon-svg svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  stroke: currentColor;
}

.icon-emoji {
  display: inline-block;
  font-style: normal;
  line-height: 1;
  vertical-align: middle;
}

.album-icon {
  font-size: 24px;
}

.hobbies-header-icon {
  font-size: 120px;
}

.hobby-icon-img {
  font-size: 48px;
}

